.btn-back {
    @include marginCenter;
    width: 80%;

    button{
        padding: 0.5em 1em 0.5em 1em;
        background-color: $yellow;
        font: $font;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        color: $black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.4em;

        &:hover {
            background-color: $yellow-hover;
        }
    }
}