.about {
    h1 {
        font-size: 25px;
        text-align: center;
        margin: 2em 0 1em 0;
    }

    p {
        text-align: center;
        margin-bottom: 4em;
    }

    span {
        background-color: $green;
        border-radius: 5px;
        padding: 0 5px 0 5px;
    }
}