.home {
    @include centerScreen;
    gap: 6em;
    min-height: 90vh;
    flex-wrap: wrap;

    img {
        width: 500px;
        height: auto;
    }

    .home-right {

        div {
            display: flex;
            justify-content: left;
            align-items: center;

            a {
                margin-left: 2em;
                color: $purple;
                font-size: 15px;
                cursor: pointer;
            }

            .btn-contact {
                background: none;
                outline: none;
                border: solid 1px $purple;
                width: 135px;
                height: 35px;
                border-radius: 2px;
                font-family: $font;
                color: $purple;
                font-size: 15px;

                &:hover {
                    background-color: $purple;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    h1 {
        font-size: 55px;
        text-align: left;
        line-height: 55pt;

        span {
            background-color: $purple;
            border-radius: 5px;
            padding: 0 15px 0 15px;
        }
    }

}