.projects {
    @include verticalCenter;
    padding-top: 5em;
    background-color: $purple;

    h1 {
        color: $black  !important;
    }

    .gallery{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 4em 0 4em 0;

        .project-img{
            width: 40%;

            img{
                width: 100%;
                height: auto;
                cursor: pointer;
            }

            p {
                color: $yellow;
                font-size: 16px;
                font-weight: bold;
                text-decoration: underline $yellow;
            }
        }
    }

}

@media only screen and (max-width: 955px){
    .gallery {
        flex-direction: column !important;
        .project-img {
            width: 100% !important;
        }
    }
}