.projects {
    @include verticalCenter;
    padding-top: 5em;
    background-color: $purple;

    p {
        color: $yellow;
    }

    .gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .project-img{
            width: 40%;

            img{
                width: 100%;
                height: auto;
                cursor: pointer;
            }
        }
    }

}