.project{
    padding-top: 10em;
    background-color: $purple;

    .container {
        @include marginCenter;
        width: 80%;

        h1 {
            text-align: center;
            margin-bottom: 1em;
        }

        p {
            text-align: center;
        }
    }
        
        img {
            width: 100%;
        }
}