.project{
    padding-top: 3em;
    background-color: $purple;

    .text-container {
        @include marginCenter;
        width: 80%;
        margin-top: 5em;

        h1 {
            text-align: center;
            margin-bottom: 1em;
        }

        p {
            text-align: center;
        }
    }
        
        img {
            width: 100%;
        }
}

@media only screen and (max-width: 768px) {
    .project {
        .text-container {
            margin-top: 3em;
        }
    }
}