@font-face {
    font-family: "Recoleta Alt Black";
    src: url(../assets/fonts/RecoletaAlt-Black.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

$title-font: "Recoleta Alt Black";
$font: "Poppins";

$black: #272727;
$purple: #bbb0d6;
$green: #a3cab9;
$yellow: #feeb7b;

@mixin marginCenter {
    margin-left: auto;
    margin-right: auto;
}

@mixin rowCenterSpaceB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin centerScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin centerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin verticalCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    ::selection {
        color: $purple;
    }

    h1 {
        font-family: $title-font;
        color: $black;
    }

    p, a {
        font-family: $font;
        font-size: 14px;
        color: $black;
    }
}